<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
<script src="/Shared%20Documents/spcrud.js"></script>
<script src="/Shared%20Documents/spcrud-demo.js"></script>

<!--AngularJS-->
<div ng-app="spcrudApp">
	<div ng-controller="spcrudCtl">

		<h1>SPCRUD</h1>
		<hr/>
		<p>
			List name:
			<input type="text" ng-model="listName"/>
			<br/>
			Id:
			<span ng-bind="itemId"></span>
		</p>
		<hr/>
		<p>
			<input type="button" ng-click="create()" value="Create"/>
			<input type="button" ng-click="read()" value="Read"/>
			<input type="button" ng-click="update()" ng-disabled="!itemId" value="Update"/>
			<input type="button" ng-click="del()" ng-disabled="!itemId" value="Delete"/>
		</p>
		<p>
			<span ng-bind="status"></span>
		</p>
	</div>
</div>
