<!--Live demo of SPCRUD library features-->

<!--Third Party-->
<script src="/sites/spcrud/SiteAssets/angular.js"></script>

<!--Application-->
<script src="/sites/spcrud/SiteAssets/spcrud.js"></script>
<script src="/sites/spcrud/SiteAssets/spcrud-demo.js"></script>

<!--Main-->
<div ng-app="spcrudApp">
    <div ng-controller="spcrudCtl">

        <h2>SPCRUD Demo - SharePoint List Create/Read/Update/Delete</h2>
        <hr/>

        <p>
            List name:
            <input type="text" ng-model="listName" />
            <br/> Id:
            <span ng-bind="itemId"></span>
        </p>
        <hr/>

        <p>
            <input type="button" ng-click="create()" value="Create" />
            <input type="button" ng-click="read()" value="Read" />
            <input type="button" ng-click="update()" ng-disabled="!itemId" value="Update" />
            <input type="button" ng-click="del()" ng-disabled="!itemId" value="Delete" />
        </p>
        <p>
            <span ng-bind="status"></span>
        </p>
        <hr/>

        <h2>JSON blob settings Read/Write</h2>
        <input type="button" ng-click="settingsRead()" value="Read" />
        <input type="button" ng-click="settingsWrite()" value="Write" />
        <textarea rows="5" cols="80" ng-model="settings" />

    </div>
</div>
